/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif
}

.container{
height: 100%;
align-content: center;
}

.Logo{ 
    width: 10px;
    position: center;  

}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
.card-header{
   padding: 20px;
   margin-left: 68px 
} 
     

.card-header span{
    font-size: 25px;
    color: #FFC312;
    margin: 50px;

    }

.powerBy { 
    font-size: 25px;
    color: #FFC312;
    margin: 60px;
    padding-left: 25px

}

.submit{ 
    padding-left: 150px; 
    /* padding: 10px */
    padding-top: 10px
}

.d-flex { 
    margin-left: 60px 
}


.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
padding-right: 20px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}



/*footer group*/
.btn-group button {
    background-color:transparent; 
   /* color: rgb(17, 17, 17); White text */
   border: transparent;
   padding: 20px 36px; /* Some padding */
   cursor: pointer; /* Pointer/hand icon */
   float: CENTER; /* Float the buttons side by side */
   opacity: 0.8;
   text-align: center;
 }
 
 .btn-group button:not(:last-child) {
   border-right:none; /* Prevent double borders */
 }
 
 /* Clear floats (clearfix hack) */
 .btn-group:after {
   content: "";
   clear: both;
   display: table;
 }
 
 /* Add a background color on hover */
 .btn-group button:hover {
   background-color: rgb(243, 205, 123);
 }
 img[src="https://pngimg.com/uploads/email/email_PNG56.png"] {
   border-radius: 6px;
   padding: 5px;
   width: 45px;
    }
    img[src="http://www.baronita.co.il/vault/icons/blue-facebook-logo.png"] {
     border-radius: 6px;
     padding: 5px;
     width: 45px;
      }
      img[src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG38.png"] {
       border-radius: 6px;
       padding: 5px;
       width: 45px;
        }