<header>
  <nav class = "second_navbar"> 
          <div> 
         <!-- <div class="navbar-header">
                <span class="navbar-brand" href="#">Customer - {{customerTitle}}</span>
         </div>   -->
         
         <ul class="bar">
          <li><a [routerLink] = "['/puschaseCoupon']" style= "color:#FFC312">Buy Coupon</a></li>
          <li><a [routerLink] = "['/puschasedCoupon']">Order History</a></li>
        </ul>
          </div>


  </nav>      
</header>


<table> 
    <tr calss ="culomn 1">
          <td>
                  <div class="card" style="width:400px">
                          <img class="card-img-top" src="assets/images/coupon 2.jpg" alt="Card image" >
                          <div class="card-body">
                            <h4 class="card-title">Cookie</h4>
                            <p class="card-text">Free Tosted</p>
                            <p class= "card-price"> Price : $100 </p>
                            <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(1)'>Buy</a>

                            
                          </div>
                   </div>
       </td> 
        <td>
                      <div class="card" style="width:400px">
                              <img class="card-img-top" src="assets/images/Coupon 11.png" alt="Card image">
                              <div class="card-body">
                                <h4 class="card-title">BulkBarn</h4>
                                <p class="card-text">Save 50%</p>
                                <p class= "card-price"> Price : $200 </p>
                                <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(2)'>Buy</a>
                              </div>
                       </div>
        </td>  
        <td>
              <div class="card" style="width:400px">
                      <img class="card-img-top" src="assets/images/Coupon 3.jpg" alt="Card image">
                      <div class="card-body">
                        <h4 class="card-title">Sales & Deals</h4>
                        <p class="card-text">70% 0ff</p>
                        <p class= "card-price"> Price : $89.99 </p>
                        <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(3)'>Buy</a>
                      </div>
               </div>
</td>    
<td>
  <div class="card" style="width:400px">
          <img class="card-img-top" src="assets/images/Coupon 5.jpg" alt="Card image" style="height:100px">
          <div class="card-body">
            <h4 class="card-title">Acqua Plus</h4>
            <p class="card-text">10% off </p>
            <p class= "card-price"> Price : $79.99 </p>
            <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(4)'>Buy</a>
          </div>
   </div>
</td>  

</tr>

<tr calss ="culomn 2">
      <td>
              <div class="card" style="width:400px">
                      <img class="card-img-top" src="assets/images/Coupon 13.png" alt="Card image">
                      <div class="card-body">
                        <h4 class="card-title">Gas Saving</h4>
                        <p class="card-text">Save 5%</p>
                        <p class= "card-price"> Price : $49.99 </p>
                        <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(5)'>Buy</a>
                      </div>
               </div>
</td>
<td>
      <div class="card" style="width:400px">
              <img class="card-img-top" src="assets/images/Coupon 17.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">Pizza King</h4>
                <p class="card-text">11 Orginal Sub</p>
                <p class= "card-price"> Price : $10.99 </p>
                <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(6)'>Buy</a>
              </div>
       </div>
</td>
<td>
      <div class="card" style="width:400px">
              <img class="card-img-top" src="assets/images/Coupon 24.png" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">Gretto Pizza</h4>
                <p class="card-text">2 Free Topping</p>
                <p class= "card-price"> Price : $50 </p>
                <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(7)'>Buy</a>
              </div>
       </div>
</td>
<td>
<div class="card" style="width:400px">
        <img class="card-img-top" src="assets/images/Coupon 22.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Mister Sparky</h4>
          <p class="card-text">$250 OFF</p>
          <p class= "card-price"> Price : $29.99 </p>
          <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(8)'>Buy</a>
        </div>
 </div>
</td> 

</tr>
<tr calss ="culomn 1">
    <tr calss ="culomn 1">
          <td>
                  <div class="card" style="width:400px">
                          <img class="card-img-top" src="assets/images/Coupon 21.jpg" alt="Card image">
                          <div class="card-body">
                            <h4 class="card-title">Cook Books</h4>
                            <p class="card-text">Save $130</p>
                            <p class= "card-price"> Price : $150 </p>
                            <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(9)'>Buy</a>
                          </div>
                   </div>
       </td> 
       <td>
              <div class="card" style="width:400px">
                      <img class="card-img-top" src="assets/images/Coupon 22.png" alt="Card image">
                      <div class="card-body">
                        <h4 class="card-title">Mister Sparky 2</h4>
                        <p class="card-text">$250 OFF</p>
                        <p class= "card-price"> Price : $99.99 </p>
                        <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(10)'>Buy</a>
                      </div>
               </div>
   </td> 
   <td>
          <div class="card" style="width:400px">
                  <img class="card-img-top" src="assets/images/Coupon 29.png" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">ACE Song Check</h4>
                    <p class="card-text">Smog Check $28.75</p>
                    <p class= "card-price"> Price : $19.99 </p>
                    <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(11)'>Buy</a>
                  </div>
           </div>
 </td>
 <td>
  <div class="card" style="width:400px">
          <img class="card-img-top" src="assets/images/Coupon 28.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Skyline Canverns</h4>
            <p class="card-text">Internet Coupon</p>
            <p class= "card-price"> Price : $150 </p>
            <a [routerLink]= "['/puschasedCoupon']" class='btn btn-warning' style = "color:black"  (click) ='buyCoupon(12)'>Buy</a>
          </div>
   </div>
</td>  
</tr>
</table> 
