
   <div class="header">
        <span style="font-size:35px"><img src="assets\images\movie-tickets.png"> e-Coupons </span>      
        <div class="header-right">
                        <span> <img src="assets\images\Weather.png"> {{temp}} &#8451; </span>
                        <span>|</span> 
                        <span>{{currentDate | date: 'yyyy MMMM dd'}} </span>   
                        <span>|</span>   
                        <span>{{currentTime | date: 'h:mm a'}}</span>       
       </div>
   </div>


