<header>
  <nav class = "second_navbar"> 
          <div> 
         <div class="navbar-header">
                <span class="navbar-brand" >Admin</span>
         </div>  
         
         <ul class="bar">
          <li><a [routerLink]="['/companyList']">Company List</a></li>
          <li><a [routerLink]="['/addCompany']">Create New Company</a></li>
          <li><a [routerLink]="['/updateCompany']">Update Company</a></li>
          <li><a [routerLink]="['/customerList']">Customer List</a></li>
          <li><a [routerLink]="['/addCustomer']">Create New Company</a></li>
          <li><a [routerLink]="['/updateCustomer']">Update Company</a></li>
         </ul>
          </div>


  </nav>      
</header> 
<div class="container">
  <form action="action_page.php">

    <label for="fname">Customer Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your comapny name..">

    <label for="lname">Password </label>
    <input type="password" id="lname" name="lastname" placeholder="Insert Password">

    <label for="lname">Update Customer</label>
    <br>
    <input type="submit" value="Submit">

  </form>
</div>