thead{
    color:#337AB7 
  }
h1 { 
    color: red
}
h2{
    color: black
}
h3 { 
    color: black
}

/* table{ 
    margin: auto; 
}

table{ 
    border :1px solid blue ; 
}

tr:nth-child(even){ 
background-color: lightblue;
}

tr:nth-child(odd){ 
    background-color:lightgray; 

}
tr:nth-child(first){ 
    background-color: none;
} */
