<header>
    <nav class = "second_navbar"> 
            <div> 
           <!-- <div class="navbar-header">
                  <span class="navbar-brand" >Admin</span>
           </div>  
           
         -->
          <ul class="bar">
           <li><a [routerLink]="['/companyList']">Company List</a></li>
           <li><a [routerLink]="['/addCompany']" style= "color:#FFC312">Create New Company</a></li>
           <li><a [routerLink]="['/updateCompany']">Update Company</a></li>
           <li><a [routerLink]="['/customerList']">Customer List</a></li>
           <li><a [routerLink]="['/addCustomer']">Create New Customer</a></li>
           <li><a [routerLink]="['/updateCustomer']">Update Customer</a></li>
           <li><a [routerLink]="['/incomeReports']">Income Reports</a></li>
          </ul>
           
            </div>
  
  
    </nav>      
  </header> 
  <div class="container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
  
      <label for="fname">Company Name</label>
      <input type="text" id="compName" name="name" placeholder="Your comapny name.." ngModel required>
  
      <label for="lname">Password </label>
      <input type="password" id="pass" name="pass" placeholder="Insert Password" ngModel required>
  
      <label for="lname">Email </label>
      <input type="email" id="email" name="email" placeholder="Insert your email" ngModel required email>

      <label for="lname">Create New Company</label>
      <br>
      <input type="submit" value="Submit" class="btn float-left login_btn">
  
    </form>

    <div><br></div>

    <div class="loader" *ngIf="loading">please, wait a second...</div>
    <div class="spinner-border text-warning" role="status" *ngIf="loading">
      <span class="sr-only">Loading...</span>
    </div>
  </div>