
<header>
    <nav class = "second_navbar"> 
            <div> 
           <!-- <div class="navbar-header">
                  <span class="navbar-brand" >Company - {{companyTitle}}</span>
           </div>  
            -->
           <ul class="bar">
            <li><a [routerLink]="['/companyCoupons']" style= "color:#FFC312"> Coupon List</a></li>
            <li><a [routerLink]="['/addCoupon']" > Add New Coupon</a></li>
            <li><a [routerLink]="['/updateCompanyCoupon']" > Update Coupon</a></li>
            <li><a [routerLink]="['/CompanyFinanceReport']" > Finance Report</a></li>

          </ul>
       </div>
    </nav>      
  </header>
<div>
  <pm-coupons></pm-coupons>
</div>
