<header>
  <nav class = "second_navbar"> 
          <div> 
         <div class="navbar-header">
                <span class="navbar-brand" >Company - {{companyTitle}}</span>
         </div>  
         
         <ul class="bar">
              <li><a href="company/coupons"> Coupon List</a></li>
              <li><a href="company/add-coupon" id ="active"> Add New Coupon</a></li>

        </ul>
          </div>


  </nav>      
</header> 
<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>