
thead{
    color:#595968
  }
h1 { 
    color: red
}
h2{
    color: black
}
h3 { 
    color: black
}

table{ 
    margin: auto; 
}



tr:nth-child(even){ 
background-color: #f2f2f2;
}

tr:nth-child(odd){ 
    background-color:#f2f2f2; 

}
tr:nth-child(first){ 
    background-color:#FFC312;
}

.panel-body{ 
    background-color:none; 
}

.panel{ 
    border-color: none;
}


#Filter { 

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px; 
    padding-bottom: 15px
}


.table-hover
{
    font-family: "Times New Roman", Times, serif;
    font-size:25px; 
    padding-bottom: 15px

} 
#thead{  
    background: #595968
}
#active { 
    color: #FFC312;
    text-decoration: underline

}

