<!-- <nav>
    <h3>Sidebar Navigation</h3>
    <ul>
      <li><a routerLink ="admin" routerLinkActive = "active">Admin</a></li>
      <li><a routerLink ="company" routerLinkActive = "active">Company</a></li>
      <li><a routerLink ="customer" routerLinkActive = "active">Customer</a></li>
    </ul>
  </nav> -->

 
  <body>
    <div class="area" *ngIf = "isUserLoggedIn"></div>
    <nav class="main-menu" *ngIf = "isUserLoggedIn">
            <ul>
                <li class="has-subnav" *ngIf = "isAdminLoggedIn">
                    <a routerLink ="admin" routerLinkActive = "active">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Admin - {{title}}
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav" *ngIf = "isCompanyLoggedIn">
                    <a routerLink ="company" routerLinkActive = "active">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Company - {{title}}
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav" *ngIf = "isCustomerLoggedIn">
                    <a a routerLink ="customer" routerLinkActive = "active">
                       <i class="fa fa-fw fa-user"></i>
                        <span class="nav-text">
                            Customer - {{title}}
                        </span>
                    </a>
                    
                         </ul>

            <ul class="logout">
                <li>
                   <button class= "logOutButton" (click) = 'logOut()'>
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </button>
                </li>  
            </ul>
        </nav>
  </body>

 