
  <table> 
      <tr calss ="culomn 1">
            <td>
                    <div class="card" style="width:400px">
                            <img class="card-img-top" src="assets/images/coupon 2.jpg" alt="Card image">
                            <div class="card-body">
                              <h4 class="card-title">Coupon 1</h4>
                              <p class="card-text">Description Coupon</p>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                     </div>
         </td> 
          <td>
                        <div class="card" style="width:400px">
                                <img class="card-img-top" src="assets/images/Coupon 11.png" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title">Coupon 2</h4>
                                  <p class="card-text">Description Coupon</p>
                                  <a href="#" class="btn btn-primary">Buy</a>
                                </div>
                         </div>
          </td>  
          <td>
                <div class="card" style="width:400px">
                        <img class="card-img-top" src="assets/images/Coupon 3.jpg" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">Coupon 3</h4>
                          <p class="card-text">Description Coupon</p>
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                 </div>
  </td>    
  <td>
    <div class="card" style="width:400px">
            <img class="card-img-top" src="assets/images/Coupon 5.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Coupon 3</h4>
              <p class="card-text">Description Coupon</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
     </div>
</td>  

  </tr>

  <tr calss ="culomn 2">
        <td>
                <div class="card" style="width:400px">
                        <img class="card-img-top" src="assets/images/Coupon 13.png" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">Coupon 2</h4>
                          <p class="card-text">Description Coupon</p>
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                 </div>
  </td>
  <td>
        <div class="card" style="width:400px">
                <img class="card-img-top" src="assets/images/Coupon 17.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Coupon 2</h4>
                  <p class="card-text">Description Coupon</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
         </div>
</td>
<td>
        <div class="card" style="width:400px">
                <img class="card-img-top" src="assets/images/Coupon 24.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Coupon 2</h4>
                  <p class="card-text">Description Coupon</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
         </div>
</td>
<td>
  <div class="card" style="width:400px">
          <img class="card-img-top" src="assets/images/Coupon 22.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Coupon 3</h4>
            <p class="card-text">Description Coupon</p>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
   </div>
</td> 

</tr>
<tr calss ="culomn 1">
      <tr calss ="culomn 1">
            <td>
                    <div class="card" style="width:400px">
                            <img class="card-img-top" src="assets/images/Coupon 21.jpg" alt="Card image">
                            <div class="card-body">
                              <h4 class="card-title">Coupon 2</h4>
                              <p class="card-text">Description Coupon</p>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                     </div>
         </td> 
         <td>
                <div class="card" style="width:400px">
                        <img class="card-img-top" src="assets/images/Coupon 22.png" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">Coupon 2</h4>
                          <p class="card-text">Description Coupon</p>
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                 </div>
     </td> 
     <td>
            <div class="card" style="width:400px">
                    <img class="card-img-top" src="assets/images/Coupon 29.png" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Coupon 2</h4>
                      <p class="card-text">Description Coupon</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
             </div>
   </td>
   <td>
    <div class="card" style="width:400px">
            <img class="card-img-top" src="assets/images/Coupon 28.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Coupon 3</h4>
              <p class="card-text">Description Coupon</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
     </div>
  </td>  
</tr>
  </table> 

